<h1> Chat group of {{username}} </h1>
<ul id="messages"></ul>
<form id="form" action="">
    <input id="input" autocomplete="off" />
    <button>Send</button>
</form>

<!--
<ul>
    <h1> Hi! {{hello}}. {{foo}}. </h1>
    {{#each friends}}
    <li> {{print_name}} </li>
    {{/each}}
</ul>
-->